@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    outline: none !important;
  }
  body {
    background-color: #303947;
  }

  @font-face {
    font-family: Montserrat-Bold;
    src: url("assets/fonts/Montserrat-Bold.ttf");
  }

  @font-face {
    font-family: Montserrat-Medium;
    src: url("assets/fonts/Montserrat-Medium.ttf");
  }

  ::-webkit-scrollbar {
    background: #111;
    width: 10px;
  }
  ::-webkit-scrollbar-button {
    background: #111;
  }

  ::-webkit-scrollbar-thumb {
    background: #fde047;
    border-radius: 3rem;
  }

  .h-115 {
    height: 26rem;
  }

  .w-125 {
    width: 30rem;
  }

  .w-150 {
    width: 35rem;
  }

  .h-125 {
    height: 35rem;
  }

  .page-link a {
    display: block;
    padding: 0.5rem 1rem;
  }
}
