@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        background-color: #303947;
    }

    @font-face {
        font-family: Varela;
        src: url('assets/fonts/Varela.ttf');
    }
}